* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
background: #000000;
background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(87, 128, 199, 1) 22%, rgba(135, 127, 198, 1) 70%, rgba(101, 83, 237, 1) 100%);
}

.header {
    display: flex;
    justify-content:space-evenly ;
    height: 60px;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    background-color: #000000;
    
}
.header_logo {
    font-family: 'Cyberdyne', sans-serif;
}

.header_logo img {
    width: 30px;
}

.nav {
    display: flex;
    gap: 30px;
}


a {
    color: white;
    text-decoration: none;
}

.main__button{
    padding: 15px 20px;
    background-color: #c7ab4e;
    border: 3px solid #b99f49;
    border-radius: 25px; 
    width: 150px;
    transition: width 0.3s ease;
}

.main__button:hover {
    background-color: #b99f49;
    border-color: #c7ab4e;
        box-shadow: #b99f49 0px 0px 10px;
    cursor: pointer;
    width: 160px;
    transition: width 0.3s ease;
}

.main_batton_div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;             
}

.section1 {
    display: flex;          
    flex-direction: column;
    align-items: center;     
    text-align: center;
    color: #ffffff;
}

.section2 {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;         
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.section2__item {
    flex: 1 1 30%;           
    min-width: 220px;       
    margin-bottom: 15px;
 
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(209, 208, 208, 0.658);
    color: #000;
}

.section2_images {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}



@font-face {
    font-family: 'Cyberdyne';
    src: url('fonts/terminatorcyr_semi_expandedbold.ttf') format('truetype');
    font-weight:100;
    font-style:normal;
    font-display:swap;
}