.container {
    display: flex;
    flex-direction: row; /* Располагаем элементы в строку по умолчанию*/
    justify-content: space-evenly; /* Равномерное распределение по горизонтали */

}

.block {
    background-color: #4CAF50;
    color: white;
    height: 100px;
    width: 100px;
    margin: 10px;
}